{erl_opts, [debug_info]}.
{deps, [
        {gen_ircclient, "0.1.1"},
        {cuneiform,     {git, "https://github.com/joergen7/cuneiform.git",
                              {branch, "dev"}}}
       ]}.

{escript_incl_apps, [cf_client, cf_worker, cre, cuneiform, effi,
                     gen_ircclient, gen_pnet, lib_combin, lib_conf]}.
